// 主题色
// 背景图
// header side 背景色，文字颜色基本色，激活色
@import './config.scss';

.header-side-layout {
  background: no-repeat center/cover;
  background-image: url(#{$bg-img});
  .header-container,
  .side-container {
    background-color: $header-side-bg-color;
    color: $layout-font-color;
    a {
      color: $layout-font-color;
    }
  }
  .page-container {
    background: $page-container-bg-color;

  }
 
  .side-nav {
    .el-menu {
      background-color: rgba(0, 0, 0, 0);
      border-right: none;
    } // side-nav
    .el-submenu__title:hover,
    .el-submenu__title:focus,
    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: $side-hover-bg-color;
    }
    .el-submenu__icon-arrow,
    .el-icon-arrow-down {
      font-weight: bold;
      font-size: 10px;
      top: 0px;
      right: 8px;
      margin-top: 0;
    }
    .el-menu-item i,
    .el-submenu__title i,
    .el-submenu__title,
    .el-menu-item {
      color: $layout-font-color;
      vertical-align: middle;
      height: $side-nav-item-height;
      line-height: $side-nav-item-height;
    }
    .el-submenu__title,
    .el-menu-item {
      padding: 0 0 0 0px!important;
      text-align: center;
      min-width: auto;
      font-size: 14px;
      font-weight: bold;
      &.nav-son-item {
        font-weight: normal;
        font-size: 13px;
        line-height: 30px;
        height: 30px;
      }
    }
    .el-menu-item.is-active {
      color: $layout-font-active-color;
      i {
        color: $layout-font-active-color;
      }
    }
    .el-menu-item {
      transition: background-color .3s;
    }
    .el-menu-item span {
      transition: color .3s;
    }
    .side-nav-icon {
      transition: color .3s;
    }
  }
}