// 主题色
// 背景图
// header side 背景色，文字颜色基本色，激活色
@import './config.scss';
$bg-img: '~@/assets/img/wallpaper/wallpaper-2.jpg';
$header-side-bg-color: rgba(255, 255, 255, 0);
$layout-font-color: rgba(0,0,0,.7);
$layout-font-active-color: orange;
$page-container-bg-color: rgba(255, 255, 255, .8);
// side nav
$side-hover-bg-color: rgba(255, 255, 255, 0);
$side-nav-item-height: 32px;
.header-side-layout {
  background: no-repeat center/cover;
  background-image: url(#{$bg-img});
  .header-container,
  .side-nav-container {
    background-color: $header-side-bg-color;
    color: $layout-font-color;
    a {
      color: $layout-font-color;
    }
  }
  .page-container {
    background: $page-container-bg-color;
    top: $header-height + 2px!important;
    right: 8px!important;
    bottom: 4px!important;
    border-radius: 8px;
  }
  .side-nav {
    .el-menu {
      background-color: rgba(0, 0, 0, 0);
      border-right: none;
    } // side-nav
    .el-submenu__title:hover,
    .el-submenu__title:focus,
    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: $side-hover-bg-color;
    }
    .el-submenu__icon-arrow,
    .el-icon-arrow-down {
      top: 0;
      right: 16px;
      margin-top: 0;
    }
    .el-menu-item i,
    .el-submenu__title i,
    .el-submenu__title,
    .el-menu-item {
      color: $layout-font-color;
      vertical-align: middle;
      height: $side-nav-item-height;
      line-height: $side-nav-item-height;
    }
    .el-submenu__title,
    .el-menu-item {
      padding: 0 0 0 20px!important;
      text-align: left;
      min-width: auto;
      font-size: 14px;
      &.nav-son-item{
      padding: 0 0 0 40px!important;
      line-height: 30px;
      height: 30px;
        
      }
      
    }
  
    .el-menu-item.is-active {
      color: $layout-font-active-color;
      i {
        color: $layout-font-active-color;
      }
    }
    .el-menu-item {
      transition: background-color .3s;
    }
    .el-menu-item span {
      transition: color .3s;
    }
    .side-nav-icon {
      transition: color .3s;
    }
  }
}